body {
	margin: 0px;
}

.grid-container {
	display: grid;
	grid-template-columns: 250px auto;
	margin: 0px;
}

.grid-item {
	text-align: center;
	background: white;
	border: 1px solid lightblue;
	padding: 10px;
	margin: 0px;
}

#ul-container {
	border-bottom: 0px;
}

#ll-container {
	border-top: 0px;
}

.schedule-container {
	display: grid;
	grid-template-columns: 33% 34% 33%;
	background-color: lightgrey;
	justify-content: space-between;
	text-align: left;
}

.course-list {
	list-style-type: none;
}

.semester-title {
	float: left;
}
.semester-hours {
	float: right;
}
