body {
	margin: 0px;
}

header {
	overflow: auto;
	margin: 3px;
	border: 1px solid blue;
	border-radius: 4px;
	background-image: linear-gradient(to right, rgb(200, 220, 255), white);
}

.grid-container {
	display: grid;
	grid-template-columns: 250px auto;
	margin: 0px;
}

.grid-item {
	text-align: center;
	background: white;
	border: 1px solid lightblue;
	padding: 10px;
	margin: 0px;
}

#ul-container {
	border-bottom: 0px;
}

#ll-container {
	border-top: 0px;
}

.schedule-container {
	display: grid;
	grid-template-columns: 33% 34% 33%;
	background-color: lightgrey;
	justify-content: space-between;
	text-align: left;
}

.course-list {
	list-style-type: none;
}

.semester-title {
	float: left;
}
.semester-hours {
	float: right;
}

#headerItems {
	display: inline;
}

#title {
	font-family: impact;
	color: blue;
	margin: 4px;
	font-size: 2em;
}

#version {
	font-family: arial;
	font-size: 0.6em;
}

.header-column {
	display: inline-block;
	float: right;
	
	font-family: arial;
	font-style: strong;
	font-size: 0.8em;
	margin: 4px 20px;
}

.header-column button {
	font-family: consolas;
	border-radius: 4px;
	background-image: linear-gradient(to right, rgb(220, 190, 50), rgb(255, 250, 30));
}

.header-column button:hover {
	font-family: consolas;
	border-radius: 4px;
	background-image: linear-gradient(to right, rgb(250, 230, 50), rgb(255, 255, 255));
}